messenger_Client_GUI_C#/messengerWebService/messengerWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://model.sans.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://model.sans.com" targetNamespace="http://model.sans.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://model.sans.com">
      <xsd:element name="getUsers">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="getUsersResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="getUsersReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveMessage">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userName" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveMessageResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="retrieveMessageReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addUser">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userName" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addUserResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="addUserReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="removeUser">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userName" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="removeUserResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="removeUserReturn" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sendMessage">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="toUser" type="xsd:string" />
            <xsd:element name="fromUser" type="xsd:string" />
            <xsd:element name="message" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sendMessageResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sendMessageReturn" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="retrieveMessageRequest">
    <wsdl:part name="parameters" element="impl:retrieveMessage" />
  </wsdl:message>
  <wsdl:message name="sendMessageRequest">
    <wsdl:part name="parameters" element="impl:sendMessage" />
  </wsdl:message>
  <wsdl:message name="getUsersRequest">
    <wsdl:part name="parameters" element="impl:getUsers" />
  </wsdl:message>
  <wsdl:message name="retrieveMessageResponse">
    <wsdl:part name="parameters" element="impl:retrieveMessageResponse" />
  </wsdl:message>
  <wsdl:message name="addUserResponse">
    <wsdl:part name="parameters" element="impl:addUserResponse" />
  </wsdl:message>
  <wsdl:message name="removeUserRequest">
    <wsdl:part name="parameters" element="impl:removeUser" />
  </wsdl:message>
  <wsdl:message name="getUsersResponse">
    <wsdl:part name="parameters" element="impl:getUsersResponse" />
  </wsdl:message>
  <wsdl:message name="sendMessageResponse">
    <wsdl:part name="parameters" element="impl:sendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="removeUserResponse">
    <wsdl:part name="parameters" element="impl:removeUserResponse" />
  </wsdl:message>
  <wsdl:message name="addUserRequest">
    <wsdl:part name="parameters" element="impl:addUser" />
  </wsdl:message>
  <wsdl:portType name="messengerWebService">
    <wsdl:operation name="getUsers">
      <wsdl:input name="getUsersRequest" message="impl:getUsersRequest" />
      <wsdl:output name="getUsersResponse" message="impl:getUsersResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrieveMessage">
      <wsdl:input name="retrieveMessageRequest" message="impl:retrieveMessageRequest" />
      <wsdl:output name="retrieveMessageResponse" message="impl:retrieveMessageResponse" />
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdl:input name="addUserRequest" message="impl:addUserRequest" />
      <wsdl:output name="addUserResponse" message="impl:addUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="removeUser">
      <wsdl:input name="removeUserRequest" message="impl:removeUserRequest" />
      <wsdl:output name="removeUserResponse" message="impl:removeUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <wsdl:input name="sendMessageRequest" message="impl:sendMessageRequest" />
      <wsdl:output name="sendMessageResponse" message="impl:sendMessageResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="messengerWebServiceSoapBinding" type="impl:messengerWebService">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getUsers">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getUsersRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUsersResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveMessage">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="retrieveMessageRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="retrieveMessageResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="addUserRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addUserResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeUser">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="removeUserRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="removeUserResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="sendMessageRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sendMessageResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="messengerWebServiceService">
    <wsdl:port name="messengerWebService" binding="impl:messengerWebServiceSoapBinding">
      <wsdlsoap:address location="http://localhost:8070/SimpleMessage/services/messengerWebService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>